<style>
    .grid-container {
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: .75fr .75fr 1fr 1.5fr 1fr 1fr;
        background-color:gainsboro;
        padding: 5px;
    }

    .grid-item {
        background-color: darkgrey;
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
</style>

@model List<Questions>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>Welcome, @DAL.CurrentUser</p>

<a href="/questions/createform" class="btn btn-primary">Ask A Question</a>

<form action="/questions/search/">
    Search <input type="text" name="usersearch" />
    <input type="submit" />
</form>
<div class="grid-container">
    <div class="grid-item">Date Posted</div>
    <div class="grid-item">Status</div>
    <div class="grid-item">Username</div>
    <div class="grid-item">Title of Question</div>
    <div class="grid-item">Category</div>
    <div class="grid-item">Manage</div>
    @foreach (Questions questions in Model)
    {
        <div class="grid-item">@questions.posted</div>

        @if (questions.status == 1)
        {
            <div class="grid-item" style="font-size:15px">&#10003;</div>
        }
        else
        {
            <div class="grid-item" style="font-size:15px">&#10005;</div>
        }
        <div class="grid-item">@questions.username</div>

        <div><a class="grid-item" href="/questions/viewquestion/@questions.id">@questions.title</a> </div>

        <div class="grid-item">@questions.category</div>

        <div>
            @if (questions.username == DAL.CurrentUser || DAL.CurrentUser == "admin")
            {
                <a class="grid-item, btn btn-primary, align-content-md-start" href="/questions/editform/@questions.id">Edit</a>
            }
            @if (questions.username == DAL.CurrentUser || DAL.CurrentUser == "admin")
            {
                <a class="grid-item, btn btn-danger, align-content-md-end" href="/questions/deleteform/@questions.id">Delete</a>
            }
        </div>
    }